/* Initialisation */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variable */
:root {
	/* Couleur */
	--color-primary: #fff;
	--color-secondary: #000;
	--color-accent-primary: #b6f500;
	--color-accent-secondary: #a4dd00;
	--color-accent-tertiary: #98cd00;
	--color-accent-quaternary: #ff2dd1;
	--color-muted-light: #f3f4f6;
	--color-muted-dark: #6b7280;

	/* font-family */
	--font-primary: "Outfit", sans-serif;
	--font-secondary: "Roboto", sans-serif;
	--font-tertiary: "Fredericka the Great", serif;
	--font-quaternary: "Bitcount Single", system-ui;

	/* font-size */
	--font-xs: 12px;
	--font-sm: 14px;
	--font-base: 16px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-2xl: 32px;
	--font-3xl: 48px;

	/* font-weight */
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;

	/* Spacing 1rem --> 16px*/
	--spacing-none: 0;
	--spacing-2xs: 0.25rem; /* 4px */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 0.75rem; /* 12px */
	--spacing-md: 1rem; /* 16px */
	--spacing-lg: 1.5rem; /* 24px */
	--spacing-xl: 2rem; /* 32px */
	--spacing-2xl: 2.5rem; /* 40px */
	--spacing-3xl: 3rem; /* 48px */
	--spacing-4xl: 4rem; /* 64px */
	--spacing-5xl: 5rem; /* 80px */
	--spacing-6xl: 6rem; /* 96px */
	--spacing-7xl: 8rem; /* 128px */
}

/* Style générale */
body {
	background-color: var(--color-primary);
	font-family: var(--font-secondary);
}

header,
main,
footer {
	padding-right: var(--spacing-md);
	padding-left: var(--spacing-md);
	max-width: 1200px;
	margin: 0 auto
}

#accueil {
	margin-bottom: var(--spacing-xl);
}

main section:not(:last-child) {
	margin-bottom: var(--spacing-4xl);
}

main {
	margin-bottom: var(--spacing-3xl);
}

h1,
h2,
h3,
h4,
a,
button {
	font-family: var(--font-primary);
}

img {
	width: 100%;
	height: 100%;
}

input {
	font-family: inherit;
}

button {
	cursor: pointer;
}

/* Mobile */
/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: var(--spacing-xs);
	padding-bottom: var(--spacing-xs);
	position: relative;
	background-color: var(--color-primary);
}

/* logo */
.container-logo {
	width: 50px
}

.logo-icon {
	object-fit: contain;
}

/* navigation */
.nav-bar {
	display: block;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	transition: display 5s ease;
}

.nav-bar.active {
	display: none;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar a {
	display: block;
	padding: var(--spacing-xs) var(--spacing-sm);
	font-weight: var(--font-semi-bold);
	text-decoration: none;
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-muted-light);
	color: var(--color-accent-tertiary);
	transition: background-color .3s;
}

.nav-bar li:first-child a {
	border-top: 1px solid var(--color-muted-light);
}

.nav-bar a:hover {
	background-color: var(--color-muted-light);
}

/* Button header */
.header-btn {
	display: flex;
	align-items: center;
}
.btn-hamburger {
	border: none;
	background-color: transparent;
	font-size: var(--font-xl);
}

.btn-close {
	display: none;
	border: none;
	font-size: var(--font-md);
	color: var(--color-muted-dark);
	background-color: var(--color-muted-light);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/* Tablette */
@media only screen and (min-width: 768px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-lg);
		padding-left: var(--spacing-lg);
	}

	#accueil {
		margin-bottom: var(--spacing-3xl);
	}

	main section:not(:last-child) {
		margin-bottom: var(--spacing-5xl);
	}

	main {
		margin-bottom: var(--spacing-4xl);
	}
}

/* Pc */
@media only screen and (min-width: 1024px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-xl);
		padding-left: var(--spacing-xl);
	}

	#accueil {
		margin-bottom: var(--spacing-4xl);
	}

	main section:not(:last-child) {
		margin-bottom: var(--spacing-6xl);
	}

	main {
		margin-bottom: var(--spacing-5xl);
	}
}

/* Desktop */
@media only screen and (min-width: 1440px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-3xl);
		padding-left: var(--spacing-3xl);
	}

	#accueil {
		margin-bottom: var(--spacing-4xl);
	}

	main section:not(:last-child) {
		margin-bottom: var(--spacing-7xl);
	}

	main {
		margin-bottom: var(--spacing-6xl);
	}
}