/* Initialisation */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variable */
:root {
	/* Couleur */
	--color-primary: #fff;
	--color-secondary: #000;
	--color-accent-primary: #b6f500;
	--color-accent-secondary: #a4dd00;
	--color-accent-tertiary: #98cd00;
	--color-accent-quaternary: #ff2dd1;
	--color-muted-light: #f3f4f6;
	--color-muted-dark: #6b7280;
	--color-bg-green: #182000;
	--color-bg-green-light: #283600;
	--color-bg-pink: #26001e;
	--color-bg-pink-light: #3d002f;

	/* Backgound */
	--bg-noir-degrade: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.45)
	);

	/* font-family */
	--font-primary: "Outfit", sans-serif;
	--font-secondary: "Roboto", sans-serif;
	--font-tertiary: "Fredericka the Great", serif;
	--font-quaternary: "Bitcount Single", system-ui;

	/* font-size */
	--font-xs: 12px;
	--font-sm: 14px;
	--font-base: 16px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-2xl: 32px;
	--font-3xl: 48px;

	/* font-weight */
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;

	/* Spacing 1rem --> 16px*/
	--spacing-none: 0;
	--spacing-2xs: 0.25rem; /* 4px */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 0.75rem; /* 12px */
	--spacing-md: 1rem; /* 16px */
	--spacing-lg: 1.5rem; /* 24px */
	--spacing-xl: 2rem; /* 32px */
	--spacing-2xl: 2.5rem; /* 40px */
	--spacing-3xl: 3rem; /* 48px */
	--spacing-4xl: 4rem; /* 64px */
	--spacing-5xl: 5rem; /* 80px */
	--spacing-6xl: 6rem; /* 96px */
	--spacing-7xl: 8rem; /* 128px */
}

/* Style générale */
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--color-primary);
	font-family: var(--font-secondary);
}

header,
main,
footer {
	padding-right: var(--spacing-md);
	padding-left: var(--spacing-md);
}

#accueil {
	margin-bottom: var(--spacing-xl);
}

main > section:not(:last-child) {
	margin-bottom: var(--spacing-4xl);
}

main {
	margin-bottom: var(--spacing-3xl);
}

h1 {
	font-family: var(--font-tertiary);
}

h2,
h3,
h4,
a,
button {
	font-family: var(--font-primary);
}

img {
	width: 100%;
	height: 100%;
}

input {
	font-family: inherit;
}

button {
	cursor: pointer;
	border: 1px solid var(--color-accent-quaternary);
	background-color: transparent;
	color: var(--color-accent-quaternary);
	border-radius: 6px;
	font-weight: var(--font-medium);
	transition:
		transform 0.4s,
		background-color 0.4s;
}

button:hover {
	background-color: var(--color-muted-light);
}

button:active {
	transform: scale(0.98);
}

a {
	transition: transform 0.4s;
}

a:active {
	transform: scale(0.98);
}

ul {
	list-style: none;
}

/* Mobile */
/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: var(--spacing-2xs);
	padding-bottom: var(--spacing-2xs);
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-muted-light);
}

/* Logo */
.container-logo {
	width: 50px;
}

/* Navigation */
.nav-bar.active {
	display: none;
	transition: display 5s ease;
}

.nav-bar {
	display: block;
	position: absolute;
	top: 62px;
	left: 0;
	width: 100%;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar a {
	display: block;
	padding: var(--spacing-sm);
	font-weight: var(--font-semi-bold);
	text-decoration: none;
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-muted-light);
	color: var(--color-accent-tertiary);
	transition: background-color 0.3s;
}

.nav-bar li:first-child a {
	border-top: 1px solid var(--color-muted-light);
}

.nav-bar a:hover {
	background-color: var(--color-muted-light);
}

/* Button header */
.header-btn {
	display: flex;
	align-items: center;
}
.btn-hamburger {
	color: var(--color-muted-dark);
	border: none;
	background-color: transparent;
	font-size: var(--font-xl);
}

.btn-close {
	display: none;
	border: none;
	font-size: var(--font-md);
	color: var(--color-muted-dark);
	background-color: var(--color-muted-light);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/* Accueil */
.accueil {
	position: relative;
	min-height: 80vh;
	background-image: url("https://res.cloudinary.com/dbm4cyzrb/image/upload/v1787124270/ChatGPT_Image_Aug_18_2026_07_48_36_PM_fzlqzp.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: var(--spacing-md);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xl);
}

.accueil::after {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--bg-noir-degrade);
	z-index: 0;
}

.intro-accueil {
	position: relative;
	z-index: 1;
	color: var(--color-primary);
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

/* Nom du festivale */
.festival-name {
	font-size: var(--font-3xl);
}

.rose {
	color: var(--color-accent-quaternary);
}

.vert {
	color: var(--color-accent-primary);
}

/* Date */
.date {
	color: var(--color-accent-tertiary);
	font-weight: var(--font-bold);
	background-color: var(--color-bg-green-light);
	width: fit-content;
	padding: 0.5em 0.7em;
	border-radius: 20px;
}

.description-intro {
	display: none;
}

/* Compte a rebour */
.compte-rebour {
	position: relative;
	z-index: 1;
	background-color: #ffffffd4;
	color: var(--color-muted-dark);
	display: flex;
	align-items: center;
	padding: var(--spacing-md);
	border-radius: 5px;
	gap: var(--spacing-sm);
	max-width: 320px;
	margin-top: auto;
}

.compte-rebour-icon {
	color: var(--color-accent-quaternary);
	font-size: 64px;
	align-self: flex-end;
}

.chrono-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.chrono-container > p {
	font-weight: var(--font-medium);
	font-size: var(--font-base);
	line-height: 1.4;
}

.chrono-container > a {
	font-family: var(--font-secondary);
	text-decoration: none;
	color: var(--color-accent-quaternary);
	border-bottom: 2px solid var(--color-accent-quaternary);
	transition: color 0.4s;
	width: fit-content;
	font-weight: var(--font-medium);
}

.chrono-container > a:hover {
	color: var(--color-accent-tertiary);
	border-color: var(--color-accent-tertiary);
}

.chrono {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--color-muted-dark);
	border: 1px solid var(--color-muted-dark);
	gap: 1px;
}

.time {
	padding: var(--spacing-xs);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffffd4;
}

.time time {
	font-family: var(--font-quaternary);
	text-align: center;
	font-size: var(--font-xl);
	color: var(--color-accent-quaternary);
	font-weight: var(--font-semi-bold);
}

.time span {
	font-size: var(--font-sm);
}

/* Programme */
.section-header {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}

.section-intro-location {
	color: var(--color-accent-tertiary);
	font-weight: var(--font-medium);
}

.section-btn-programme {
	display: flex;
}

/* Bouton de filtre */
.btn-programme {
	font-size: var(--font-sm);
	padding: 0.4em 1em;
	border-radius: 20px;
	border-radius: 0;
	border: 1px solid var(--color-muted-light);
	background-color: var(--color-muted-light);
}

.btn-programme.filtre {
	background-color: var(--color-primary);
	color: var(--color-accent-quaternary);
	border: none;
	border-top: 1px solid var(--color-muted-light);
}

/* Jour */
.container-jour {
	border-left: 3px solid var(--color-muted-dark);
	padding-left: var(--spacing-md);
}

.jour-section.jour-hidden {
	display: none;
}

.jour-section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.jour-intro {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2xs);
}

.jour {
	font-size: var(--font-xl);
}

.jour-heure {
	font-size: var(--font-sm);
	color: var(--color-muted-dark);
	font-weight: var(--font-medium);
}

.section-activite {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.activite {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.activite:not(:last-child) {
	border-bottom: 2px solid var(--color-muted-dark);
	padding-bottom: var(--spacing-xs);
}

.activite-title {
	font-size: var(--font-base);
}

.activite-time {
	font-size: var(--font-sm);
	font-family: var(--font-quaternary);
	font-weight: var(--font-black);
	letter-spacing: 2px;
	color: var(--color-accent-quaternary);
}

.activite-time i {
	font-weight: var(--font-black);
}

.activite-description {
	font-size: var(--font-sm);
}

/* Billeterie */
.billeterie,
.programme {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.section-intro {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2xs);
}

.subtilte {
	font-size: var(--font-2xl);
}

.subtilte-description {
	font-size: var(--font-sm);
	line-height: 1.3;
	color: var(--color-muted-dark);
}

/* Pass */
.section-pass {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	align-items: center;
}

.pass {
	padding: var(--spacing-lg);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.pass.pass-3 {
	background-color: var(--color-muted-light);
	border: 1px solid var(--color-muted-light);
	transition:
		transform 0.4s,
		background-color 0.4s;
}

.pass.pass-3:hover {
	transform: scale(1.05);
	background-color: var(--color-primary);
	box-shadow: 0px 1px 2px var(--color-muted-light);
}

.pass.pass-1 {
	border: 1px solid var(--color-muted-dark);
	transition: transform 0.4s;
}

.pass.pass-1:hover {
	box-shadow: 0px 1px 2px var(--color-muted-light);
	border: 1px solid var(--color-muted-light);
	transform: scale(1.03);
}

.pass-title {
	text-align: center;
	font-size: var(--font-xl);
	font-family: var(--font-tertiary);
	font-weight: var(--font-bold);
	color: var(--color-accent-tertiary);
}

.pass-price {
	text-align: center;
	font-size: var(--font-2xl);
	font-weight: var(--font-medium);
	font-family: var(--font-quaternary);
	color: var(--color-accent-quaternary);
}

.pass-description {
	text-align: justify;
	font-size: var(--font-sm);
	line-height: 1.3;
	font-weight: var(--font-medium);
}

.pass-detail-list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	font-size: var(--font-sm);
}

.pass-detail-item {
	display: flex;
	gap: var(--spacing-xs);
	align-items: center;
}

.pass-detail-item i {
	color: var(--color-bg-pink-light);
}

.btn-reserver {
	font-size: var(--font-sm);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-2xs);
	padding: 0.4rem;
}

.btn-reserver i {
	font-weight: var(--font-black);
}

/* Footer */
.footer {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	padding-top: var(--spacing-3xl);
	padding-bottom: var(--spacing-md);
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2xl);
}

/* Brand */
.footer-brand {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.footer-brand h2 {
	font-family: var(--font-tertiary);
	font-size: var(--font-2xl);
}

.footer-brand p {
	font-size: var(--font-sm);
	line-height: 1.4;
	color: var(--color-muted-light);
	max-width: 300px;
}

.footer h3 {
	font-family: var(--font-primary);
	font-size: var(--font-base);
	color: var(--color-accent-quaternary);
	margin-bottom: var(--spacing-sm);
}

/* Navigation */
.footer-navigation ul {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
}

.footer a {
	color: var(--color-primary);
	text-decoration: none;
	font-size: var(--font-sm);
	transition: color 0.3s;
}

.footer a:hover {
	color: var(--color-accent-tertiary);
}

/* Contact */
.footer-contact ul {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.footer-contact li {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	font-size: var(--font-sm);
}

.footer-contact i {
	width: 18px;
	color: var(--color-accent-tertiary);
}

/* Réseaux sociaux */
.social-links {
	display: flex;
	gap: var(--spacing-sm);
}

.social-links a {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-muted-dark);
	border-radius: 50%;
	transition:
		color 0.4s,
		transform 0.4s,
		border-color 0.4s;
}

.social-links a:hover {
	color: var(--color-accent-primary);
	border-color: var(--color-accent-primary);
	transform: translateY(-2px);
}

/* Copyright */
.footer-bottom {
	margin-top: var(--spacing-2xl);
	padding-top: var(--spacing-md);
	border-top: 1px solid var(--color-muted-dark);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2xs);
	font-size: var(--font-xs);
	color: var(--color-muted-dark);
}

/* Tablette */
@media only screen and (min-width: 768px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-lg);
		padding-left: var(--spacing-lg);
	}

	#accueil {
		margin-bottom: var(--spacing-3xl);
	}

	main > section:not(:last-child) {
		margin-bottom: var(--spacing-5xl);
	}

	main {
		margin-bottom: var(--spacing-4xl);
	}

	/* Logo */
	.container-logo {
		width: 55px;
	}

	/* Navigation */
	.nav-bar {
		top: 67px;
	}

	.nav-bar a {
		padding: var(--spacing-sm) var(--spacing-lg);
	}

	/* Button header */
	.btn-hamburger {
		font-size: var(--font-2xl);
	}

	.btn-close {
		font-size: var(--font-base);
		width: 32px;
		height: 32px;
	}

	/* Accueil */
	.accueil {
		padding: var(--spacing-xl);
		flex-direction: row;
		min-height: 50vh;
		justify-content: space-between;
	}

	.description-intro {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xs);
		font-weight: var(--font-medium);
		line-height: 1.3;
		text-align: justify;
	}

	.slogan {
		font-family: var(--font-tertiary);
		font-weight: var(--font-semi-bold);
		color: var(--color-accent-primary);
	}

	/* Compte a rebour */
	.compte-rebour {
		height: fit-content;
		align-self: flex-end;
	}

	/* Programme */
	.section-intro-location {
		font-size: var(--font-lg);
	}

	.section-btn-programme {
		align-self: flex-end;
	}

	/* Bouton de filtre */
	.btn-programme {
		font-size: var(--font-base);
	}

	/* Jour */
	.container-jour {
		padding-left: var(--spacing-xl);
		max-width: 600px;
	}

	.jour-section {
		gap: var(--spacing-lg);
	}

	.jour {
		font-size: var(--font-2xl);
	}

	.jour-heure {
		font-size: var(--font-base);
	}

	.section-activite {
		gap: var(--spacing-md);
	}

	.activite {
		gap: var(--spacing-sm);
	}

	.activite:not(:last-child) {
		padding-bottom: var(--spacing-md);
	}

	.activite-title {
		font-size: var(--font-xl);
	}

	.activite-time {
		font-size: var(--font-base);
	}

	.activite-description {
		font-size: var(--font-base);
	}

	/* Billeterie */
	.billeterie,
	.programme {
		gap: var(--spacing-xl);
	}

	.subtilte {
		font-size: var(--font-3xl);
	}

	.subtilte-description {
		font-size: var(--font-base);
	}

	/* Pass */
	.section-pass {
		flex-direction: row;
		justify-content: center;
		gap: var(--spacing-lg);
		align-items: stretch;
	}

	.pass {
		max-width: 300px;
		gap: var(--spacing-md);
	}

	.pass-description {
		font-size: var(--font-base);
	}

	.pass-detail-list {
		gap: var(--spacing-sm);
		font-size: var(--font-base);
	}

	.btn-reserver {
		font-size: var(--font-base);
		margin-top: auto;
	}

	.footer {
		padding-top: var(--spacing-4xl);
		padding-bottom: var(--spacing-lg);
	}

	.footer-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-2xl);
	}

	.footer-bottom {
		margin-top: var(--spacing-3xl);
		padding-top: var(--spacing-lg);

		flex-direction: row;
		justify-content: space-between;
	}
}

/* Pc */
@media only screen and (min-width: 1024px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-5xl);
		padding-left: var(--spacing-5xl);
	}

	#accueil {
		margin-bottom: var(--spacing-4xl);
	}

	main > section:not(:last-child) {
		margin-bottom: var(--spacing-6xl);
	}

	main {
		margin-bottom: var(--spacing-5xl);
	}

	/* Header */

	/* Navigation */
	.nav-bar,
	.nav-bar.active {
		position: static;
		display: block;
		top: auto;
		z-index: auto;
		left: auto;
		width: auto;
	}

	.nav-bar ul {
		display: flex;
	}

	.nav-bar a,
	.nav-bar li:first-child a {
		padding: var(--spacing-xs) var(--spacing-lg);
		border: none;
		background-color: inherit;
		transition: color 0.4s;
	}

	.nav-bar a:hover,
	.nav-bar li:first-child a:hover {
		background-color: transparent;
		color: var(--color-accent-primary);
	}

	.header-btn {
		display: none;
	}

	/* Accueil */
	.accueil {
		padding: var(--spacing-2xl) var(--spacing-5xl);
		min-height: 40vh;
	}

	.intro-accueil {
		max-width: 400px;
	}

	/* Nom festival */
	.festival-name {
		font-size: 64px;
	}

	/* Date */
	.date {
		font-size: var(--font-lg);
	}

	.description-intro {
		font-size: var(--font-lg);
	}

	.compte-rebour {
		max-width: 600px;
		width: 100%;
	}

	.chrono-container > p {
		font-size: var(--font-lg);
	}

	.chrono-container > a {
		font-size: var(--font-lg);
	}

	.chrono {
		grid-template-columns: repeat(4, 1fr);
	}

	/* Billeterie */
	.billeterie {
		gap: var(--spacing-3xl);
	}
	.subtilte-description {
		max-width: 500px;
	}
	/* Pass */
	.section-pass {
		gap: var(--spacing-xl);
	}

	.pass {
		gap: var(--spacing-xl);
	}

	/* Footer */
	.footer {
		padding-top: var(--spacing-4xl);
		padding-bottom: var(--spacing-lg);
	}

	.footer-container {
		grid-template-columns: 2fr 1fr 1.5fr 1fr;
		gap: var(--spacing-3xl);
	}

	.footer-brand {
		grid-row: auto;
	}

	.footer-social {
		grid-column: auto;
	}

	.footer-bottom {
		margin-top: var(--spacing-4xl);
	}
}

/* Desktop */
@media only screen and (min-width: 1440px) {
	/* Style general */
	header,
	main,
	footer {
		padding-right: var(--spacing-7xl);
		padding-left: var(--spacing-7xl);
	}

	#accueil {
		margin-bottom: var(--spacing-4xl);
	}

	main > section:not(:last-child) {
		margin-bottom: var(--spacing-7xl);
	}

	main {
		margin-bottom: var(--spacing-6xl);
	}

	/* Accueil */
	.accueil {
		padding: var(--spacing-7xl);
		min-height: 40vh;
	}
}
